<!-- //ejs markup looks like <%= %> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>EJS</title>
</head>
<body>

   <% if(kindOfDay === "Monday" ) { %>
        <h1 style = "color:aqua">Today is <%= kindOfDay %></h1>

   <% }else { %>
        <h1 style="color: blue">Today is <%= kindOfDay %></h1>
   <% } %>
   
    
</body>
</html>
